In [1]:
import numpy as np
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
import spacy
import en_core_web_sm
import string

#reviews = pd.read_csv('Datafiniti_Hotel_Reviews.csv')
df = pd.read_csv('covid.csv', error_bad_lines=False)
df.head(5)

C:\Users\Philip\AppData\Local\Temp\ipykernel_6060\3010240173.py:11: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('covid.csv', error_bad_lines=False)
b'Skipping line 4: expected 1 fields, saw 3\nSkipping line 5: expected 1 fields, saw 2\nSkipping line 11: expected 1 fields, saw 2\nSkipping line 14: expected 1 fields, saw 3\nSkipping line 15: expected 1 fields, saw 2\nSkipping line 16: expected 1 fields, saw 2\nSkipping line 19: expected 1 fields, saw 2\nSkipping line 22: expected 1 fields, saw 2\nSkipping line 27: expected 1 fields, saw 3\nSkipping line 35: expected 1 fields, saw 3\nSkipping line 36: expected 1 fields, saw 3\nSkipping line 40: expected 1 fields, saw 3\nSkipping line 48: expected 1 fields, saw 2\nSkipping line 51: expected 1 fields, saw 3\nSkipping line 58: expected 1 fields, saw 2\nSkipping line 61: expected 1 fields, saw 3\nSkipping line 70: expected 1 fields, saw 3\nSkipping line 76: expected 1 fields, saw 2\nSkipping line 81: expected 1 fields, saw 4\nSkipping line 82: expected 1 fields, saw 3\nSkipping line 83: expected 1 fields, saw 3\nSkipping line 86: expected 1 fields, saw 2\nSkipping line 87: expected 1 fields, saw 6\nSkipping line 89: expected 1 fields, saw 6\nSkipping line 94: expected 1 fields, saw 7\nSkipping line 96: expected 1 fields, saw 2\nSkipping line 98: expected 1 fields, saw 2\nSkipping line 99: expected 1 fields, saw 3\nSkipping line 104: expected 1 fields, saw 3\nSkipping line 116: expected 1 fields, saw 2\nSkipping line 122: expected 1 fields, saw 2\nSkipping line 127: expected 1 fields, saw 2\nSkipping line 128: expected 1 fields, saw 3\nSkipping line 129: expected 1 fields, saw 2\nSkipping line 131: expected 1 fields, saw 7\nSkipping line 132: expected 1 fields, saw 4\nSkipping line 135: expected 1 fields, saw 6\nSkipping line 139: expected 1 fields, saw 2\nSkipping line 148: expected 1 fields, saw 5\nSkipping line 155: expected 1 fields, saw 8\nSkipping line 156: expected 1 fields, saw 4\nSkipping line 159: expected 1 fields, saw 2\nSkipping line 160: expected 1 fields, saw 2\nSkipping line 173: expected 1 fields, saw 2\nSkipping line 175: expected 1 fields, saw 2\nSkipping line 181: expected 1 fields, saw 4\nSkipping line 183: expected 1 fields, saw 4\nSkipping line 185: expected 1 fields, saw 4\nSkipping line 186: expected 1 fields, saw 4\nSkipping line 188: expected 1 fields, saw 2\nSkipping line 191: expected 1 fields, saw 2\nSkipping line 195: expected 1 fields, saw 5\nSkipping line 196: expected 1 fields, saw 3\nSkipping line 199: expected 1 fields, saw 2\nSkipping line 200: expected 1 fields, saw 2\nSkipping line 201: expected 1 fields, saw 4\n'

                                             Content
0  AustriaðŸ‡¦ðŸ‡¹: Planning lockdown for the unvaccina...
1  A thread on how excess deaths stopped being ti...
2  So in a week in which @ScottMorrisonMP lied to...
3  Two years since China unleashed COVID on the w...
4  Today's Covid death is close to 300 (293), hig...

In [2]:
df['Content'] = df['Content'].astype(str).str.lower()
df.head(3)

                                             Content
0  austriaðŸ‡¦ðŸ‡¹: planning lockdown for the unvaccina...
1  a thread on how excess deaths stopped being ti...
2  so in a week in which @scottmorrisonmp lied to...

In [3]:
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text

df['Content'] = df['Content'].apply(lambda x: remove_punct(x))
df.head(10)

                                             Content
0  austriaðŸ‡¦ðŸ‡¹ planning lockdown for the unvaccinat...
1  a thread on how excess deaths stopped being ti...
2  so in a week in which scottmorrisonmp lied to ...
3  two years since china unleashed covid on the w...
4  todays covid death is close to   highest since...
5  breaking news \n\nchina tells citizens to stoc...
6  itâ€™s been  days since the st lockdown iâ€™ve see...
7  suddenly the us intelligence community says th...
8  somewhere in the world today\n\n billionth dos...
9  important announcement\nno more than  soccer s...

In [4]:
from nltk.tokenize import RegexpTokenizer

regexp = RegexpTokenizer('\w+')

df['text_token']=df['Content'].apply(regexp.tokenize)
df.head(3)

,Content,text_token
0,austriaðŸ‡¦ðŸ‡¹ planning lockdown for the unvaccinat...,"[austria, planning, lockdown, for, the, unvacc..."
1,a thread on how excess deaths stopped being ti...,"[a, thread, on, how, excess, deaths, stopped, ..."
2,so in a week in which scottmorrisonmp lied to ...,"[so, in, a, week, in, which, scottmorrisonmp, ..."

In [5]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Philip\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
from nltk.corpus import stopwords

# Make a list of english stopwords
stopwords = nltk.corpus.stopwords.words("english")

# Extend the list with your own custom stopwords
my_stopwords = ['https']
stopwords.extend(my_stopwords)

In [7]:
df['text_token'] = df['text_token'].apply(lambda x: [item for item in x if item not in stopwords])
df.head(3)

,Content,text_token
0,austriaðŸ‡¦ðŸ‡¹ planning lockdown for the unvaccinat...,"[austria, planning, lockdown, unvaccinated, it..."
1,a thread on how excess deaths stopped being ti...,"[thread, excess, deaths, stopped, tied, elderl..."
2,so in a week in which scottmorrisonmp lied to ...,"[week, scottmorrisonmp, lied, french, us, alli..."

In [8]:
# df['text_token'] = df['text_token'].apply(lambda x: ' '.join([item for item in x if len(item)>2]))
# df.head(3)

In [9]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Philip\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [10]:
ps = nltk.PorterStemmer()

def stemming(text):
    text = [ps.stem(word) for word in text]
    return text

df['Tweet_stemmed'] = df['text_token'].apply(lambda x: stemming(x))
df.head()

,Content,text_token,Tweet_stemmed
0,austriaðŸ‡¦ðŸ‡¹ planning lockdown for the unvaccinat...,"[austria, planning, lockdown, unvaccinated, it...","[austria, plan, lockdown, unvaccin, itali, peo..."
1,a thread on how excess deaths stopped being ti...,"[thread, excess, deaths, stopped, tied, elderl...","[thread, excess, death, stop, tie, elderli, co..."
2,so in a week in which scottmorrisonmp lied to ...,"[week, scottmorrisonmp, lied, french, us, alli...","[week, scottmorrisonmp, lie, french, us, alli,..."
3,two years since china unleashed covid on the w...,"[two, years, since, china, unleashed, covid, w...","[two, year, sinc, china, unleash, covid, world..."
4,todays covid death is close to highest since...,"[todays, covid, death, close, highest, since, ...","[today, covid, death, close, highest, sinc, fe..."

In [11]:
wn = nltk.WordNetLemmatizer()

def lemmatizer(text):
    text = [wn.lemmatize(word) for word in text]
    return text

df['Tweet_lemmatized'] = df['Tweet_stemmed'].apply(lambda x: lemmatizer(x))
df.head()

,Content,text_token,Tweet_stemmed,Tweet_lemmatized
0,austriaðŸ‡¦ðŸ‡¹ planning lockdown for the unvaccinat...,"[austria, planning, lockdown, unvaccinated, it...","[austria, plan, lockdown, unvaccin, itali, peo...","[austria, plan, lockdown, unvaccin, itali, peo..."
1,a thread on how excess deaths stopped being ti...,"[thread, excess, deaths, stopped, tied, elderl...","[thread, excess, death, stop, tie, elderli, co...","[thread, excess, death, stop, tie, elderli, co..."
2,so in a week in which scottmorrisonmp lied to ...,"[week, scottmorrisonmp, lied, french, us, alli...","[week, scottmorrisonmp, lie, french, us, alli,...","[week, scottmorrisonmp, lie, french, u, alli, ..."
3,two years since china unleashed covid on the w...,"[two, years, since, china, unleashed, covid, w...","[two, year, sinc, china, unleash, covid, world...","[two, year, sinc, china, unleash, covid, world..."
4,todays covid death is close to highest since...,"[todays, covid, death, close, highest, since, ...","[today, covid, death, close, highest, sinc, fe...","[today, covid, death, close, highest, sinc, fe..."

In [12]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Philip\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [13]:
nltk.download('words')
words = set(nltk.corpus.words.words())

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Philip\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [14]:
df['Tweet_lemmatized'] = df['Tweet_lemmatized'].apply(lambda x: ' '.join([item for item in x if len(item)>2]))
df['Tweet_lemmatized'] = df['Tweet_lemmatized'].apply(lambda x: [w for w in nltk.wordpunct_tokenize(x) if w.lower() in words or not w.isalpha()])
df.head(10)

,Content,text_token,Tweet_stemmed,Tweet_lemmatized
0,austriaðŸ‡¦ðŸ‡¹ planning lockdown for the unvaccinat...,"[austria, planning, lockdown, unvaccinated, it...","[austria, plan, lockdown, unvaccin, itali, peo...","[plan, ban, work, without, covid, passport, ca..."
1,a thread on how excess deaths stopped being ti...,"[thread, excess, deaths, stopped, tied, elderl...","[thread, excess, death, stop, tie, elderli, co...","[thread, excess, death, stop, tie, covid, exce..."
2,so in a week in which scottmorrisonmp lied to ...,"[week, scottmorrisonmp, lied, french, us, alli...","[week, scottmorrisonmp, lie, french, us, alli,...","[week, lie, betray, support, china, russia, ch..."
3,two years since china unleashed covid on the w...,"[two, years, since, china, unleashed, covid, w...","[two, year, sinc, china, unleash, covid, world...","[two, year, china, unleash, covid, world, stil..."
4,todays covid death is close to highest since...,"[todays, covid, death, close, highest, since, ...","[today, covid, death, close, highest, sinc, fe...","[today, covid, death, close, highest, rate, in..."
5,breaking news \n\nchina tells citizens to stoc...,"[breaking, news, china, tells, citizens, stock...","[break, news, china, tell, citizen, stockpil, ...","[break, news, china, tell, citizen, food, covi..."
6,itâ€™s been days since the st lockdown iâ€™ve see...,"[days, since, st, lockdown, seen, patients, th...","[day, sinc, st, lockdown, seen, patient, throu...","[day, seen, patient, throughout, none, patient..."
7,suddenly the us intelligence community says th...,"[suddenly, us, intelligence, community, says, ...","[suddenli, us, intellig, commun, say, origin, ...","[say, origin, covid, may, never, known, known,..."
8,somewhere in the world today\n\n billionth dos...,"[somewhere, world, today, billionth, dose, cov...","[somewher, world, today, billionth, dose, covi...","[world, today, billionth, dose, covid, went, a..."
9,important announcement\nno more than soccer s...,"[important, announcement, soccer, spectators, ...","[import, announc, soccer, spectat, allow, stad...","[import, soccer, allow, stadium, line, covid, ..."

In [15]:
clean_df = pd.DataFrame(df,columns=['Tweet_lemmatized'])
clean_df.head()

                                    Tweet_lemmatized
0  [plan, ban, work, without, covid, passport, ca...
1  [thread, excess, death, stop, tie, covid, exce...
2  [week, lie, betray, support, china, russia, ch...
3  [two, year, china, unleash, covid, world, stil...
4  [today, covid, death, close, highest, rate, in...

In [16]:
import csv
clean_df.columns = ['Content']
clean_df.to_csv('clean_covid.csv',encoding='utf-8', index=False) 
clean_df.head()

                                             Content
0  [plan, ban, work, without, covid, passport, ca...
1  [thread, excess, death, stop, tie, covid, exce...
2  [week, lie, betray, support, china, russia, ch...
3  [two, year, china, unleash, covid, world, stil...
4  [today, covid, death, close, highest, rate, in...